# Flask[async]
# python-dotenv
# redis
# psycopg2-binary
# Gunicorn

py-nillion-client
nillion-python-helpers
cosmpy

fastapi==0.100.0
uvicorn==0.23.0
psycopg2-binary
python-dotenv==1.0.0
redis==4.6.0
pydantic==2.0.2
